Flask==3.1.1
Flask-Cors==6.0.1
python-dotenv==1.1.1
google-generativeai==0.8.5
langchain==0.3.27
langchain-google-genai==2.1.9
langchain-community==0.3.29
chromadb==1.0.20
pypdf==6.0.0
pandas==2.3.1
networkx==3.5
openpyxl==3.1.5
python-docx==1.2.0
gunicorn==23.0.0